@import "../vars";
.cart {
  & a {
    text-decoration: none;
  }

  & img {
    margin-right: 27px;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 45px;
    &__informer {
      background-color: $accent-color;
      padding: 0 17px;
      padding-top: 1.5px;
      padding-bottom: 1.5px;
      font-family: $main-font;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $light;
    }
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      align-self: center;
      right: 45px;
      width: 0;
      height: 0;
      border-right: 13px solid $accent-color;
      border-left: 13px solid transparent;
      border-bottom: 9px solid transparent;
      border-top: 9px solid transparent;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }
}
